{% extends 'base.html' %}

{% block head-title %}{{modelo}}{% endblock %}
{% block body-title %}{{modelo}} <a href="{% url 'vehiculos:modelo_update' modelo.id %}" class="btn btn-primary">Editar</a>{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
	<li><a href="{% url 'vehiculos:marca_list' %}">Marcas</a></li>
	<li><a href="{{modelo.marca.get_absolute_url}}">{{modelo.marca}}</a></li>
	<li class="active">{{modelo}}</li>
</ol>
{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-6">
	<ul class="list-group">
		<li class="list-group-item"><strong>Marca</strong><span class="pull-right">{{modelo.marca}}</span></li>
		<li class="list-group-item"><strong>Nombre</strong><span class="pull-right">{{modelo.nombre}}</span></li>
	</ul>
</div>
</div>
{% endblock %}