{% extends 'base.html' %}

{% block head-title %} Clientes {% endblock %}
{% block body-title %}
<form action="" method="GET" class="form-inline">
	Clientes <a href="{% url 'clientes:cliente_create' %}" class="btn btn-primary">Nuevo</a>
	<input type="text" class="form-control" name="search" placeholder="Buscar" value="{% if search %}{{search}}{% endif %}">
	<input type="submit" class="btn btn-default" value="Buscar">
</form>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li class="active">Clientes</li>
</ol>
{% endblock %}

{% block content %}
<div class="table-responsive">
	<table class="table">
		<tr>
			<th>Nombre</th>
			<th>Email</th>
			<th>DNI</th>
		</tr>
		<tr>
			{% for cliente in clientes %}
			<tr>
				<td><a href="{{cliente.get_absolute_url}}">{{cliente}}</a></td>
				<td>{{cliente.email}}</td>
				<td>{{cliente.dni}}</td>
			</tr>
			{% endfor %}
		</tr>
	</table>
</div>
{% endblock %}