{% extends 'base.html' %}

{% block head-title %}{{cliente}}{% endblock %}
{% block body-title %}{{cliente}} <a href="{% url 'clientes:cliente_update' cliente.id %}" class="btn btn-primary">Editar</a>{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
	<li><a href="{% url 'clientes:cliente_list' %}">Clientes</a></li>
	<li class="active">{{cliente}}</li>
</ol>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-6">
		<ul class="list-group">
			<li class="list-group-item"><strong>Nombre</strong><span class="pull-right">{{cliente.nombre}}</span></li>
			<li class="list-group-item"><strong>Apellido</strong><span class="pull-right">{{cliente.apellido}}</span></li>
			<li class="list-group-item"><strong>DNI</strong><span class="pull-right">{{cliente.dni}}</span></li>
		</ul>
		<blockquote><strong>Observaciones</strong><p>{{cliente.observaciones}}</p></blockquote>
	</div>
</div>
{% endblock %}