{% extends 'base.html' %}

{% block head-title %}Cliente - Nuevo{% endblock %}
{% block body-title %}Cliente <small>Nuevo</small>{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="{% url 'clientes:cliente_list' %}">Clientes</a></li>
  <li class="active">Nuevo</li>
</ol>
{% endblock %}

{% block content %}
<form action="" method="GET" class="col-md-6">
	{% csrf_token %}
	{% include 'helpers/form.html' %}
	<input type="submit" value="Confirmar" class="btn btn-primary">
</form>
{% endblock %}