{% extends 'base/base_list.html' %}

{% block head-title %} Clientes {% endblock %}
{% block list-title %}
Clientes <a href="{% url 'clientes:cliente_create' %}" class="btn btn-primary">Nuevo</a>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li class="active">Clientes</li>
</ol>
{% endblock %}

{% block list_table %}
<div class="table-responsive">
	<table class="table">
		<tr>
			<th>Nombre</th>
			<th>Email</th>
			<th>DNI</th>
		</tr>
		{% for cliente in clientes %}
		<tr>
			<td><a href="{{cliente.get_absolute_url}}">{{cliente}}</a></td>
			<td>{{cliente.email}}</td>
			<td>{{cliente.dni}}</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}