{% if is_paginated %}
  <div class="text-center">
    <ul class="pagination">
      {% if page_obj.has_previous and page_obj.previous_page_number > 1 %}
        <li>
          <a href="?page=1" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% endif %}
      {% if page_obj.has_previous %}
        <li>
          <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        </li>
      {% endif %}

      <li class="active">
        <span class="current">
         {{ page_obj.number }}
        </span>
      </li>

      {% if page_obj.has_next %}
        <li>
          <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        </li>
      {% endif %}
      {% if page_obj.has_next and page_obj.next_page_number < paginator.num_pages %}
        <li>
          <a href="?page={{ paginator.num_pages }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
{% endif %}