{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Talleres - {% block head-title %}{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
	<link rel="stylesheet" href="{% static 'mystiles.css' %}">
</head>
<body>
	<div class="panel panel-default">
	 	<div class="panel-body">
			{% include 'menu.html' %}

			{% block breadcrumb %}{% endblock %}

			<div class="page-header">
				<h1>{% block body-title %} Talleres {% endblock %}</h1>
			</div>

			{% include 'info_messages.html' %}
			
			{% block content %}
			{% endblock %}
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>